* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets the width and height properties for the entire page ^ */
body {
    background-color: #d9dcd6;
}
/*Sets the page background color to a light grey ^ */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* sets the background color and font and font color of the header section, where the company name can be seen.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Sets the font size of company name in the header and formats the box to display from left to right*/
.header h1 .seo {
    color: #e61717;
}
/*Sets the color of the SEO part of the company name, specifically. Changed this to a darker red. */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}
/*Sets the header div contents to float right, also sets font size and style of the text. also sets the thickness of the padding area and right margin */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Sets up the header contents to display from left to right, search engine optimization, etc...*/
a {
    color: #ffffff;
    text-decoration: solid;
}
/* Sets the color of the header right float text and text decoration. I changed this to solid from none. */
p {
    font-size: 25px;
}
/* sets the font size for the pages paragraph text seen on the 4 boxes on the bottom half of the page */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*sets up the background image for the page, the picture of the meeting, centered, and its height and width. */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/*float left and float right sets the margins to be used for the 3 pictures in the search engine optimization, social media marketing, and online reputation boxes */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* sets the size and display style of the search engine optimization, social media marketing, and online reputation boxes */
.content-one {
    margin-bottom: 20px;
    padding: 50px;
    height: 380px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* sets the properties, size, padding and margin and background color, and font color for the search engine optimization box */
.content-one img {
    max-height: 280px;
    max-width: 560px;
}
/* sets the height and width size for the social media marketing photo, I added a width. Also changed the classes to just "content-one" so we could put it all in a few lines of code, rather than repeating it 3 times. Cleans things up and works just the same. */
.content-one h2 {
    margin-bottom: 15px;
    font-size: 42px;
}
/* Sets the font size and bottom margin size of the H2 search engine optimization text. I tinkered with the size of this to make a better fit.*/
.benefits {
    margin-right: 30px;
    padding: 25px;
    clear: both;
    float: right;
    width: 21%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* the benefits box shows up on the bottom right side. these properties set its font, height and width sizing, color, and right float*/
.benefit-one {
    margin-bottom: 32px;
    color: #ffffff;
}
/* sets the margin and color of the benefits box. The code was redundant and repetitive at first. So I changed the classes of lead, brand and cost to just one to trim down on the code*/
.benefit-one h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}
/* sets the font size and text alings to the center of the benefits H2 text */
.benefit-one img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*sets the css properties of the benefit one photo in the benefits section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* sets the properties of the footer on the bottom of the page and centers the text. */
.footer h2 {
    font-size: 20px;
}
/* sets the font size that appears in the footer in the bottom of the page*/